#message1 {
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
}

#message2 {
   font-size: 15px;
   text-align: center;
   margin-right: 5%;
   margin-left: 5%;
}

#try-button {
    border-radius: 40%;
    font-size: 20%;
}

h2 {
    font-size: 30px;
    font-weight: bold;
}

#padding {
    padding-top: 20%;
}

#community-images {
  text-align: center;
  padding: 10%;
  margin: 5%;
}

#grow-together {
    background-image: url("images/bg-section-top-desktop-1.svg");
}

